.main-container {
  background-image: linear-gradient(#9796f0, #fbc7d4);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
